@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Sofia+Sans+Extra+Condensed&family=Unbounded&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #191919;
  /* font-family: "Unbounded", cursive; */
  font-family: "Poppins", sans-serif;
}

.swal-modal {
  background-color: #2c2b2b;
  color: white;
  font-family: "Poppins", sans-serif;
}
.swal-text {
  color: white;
  font-family: "Poppins", sans-serif;
}

/* change the swal body color to dark */
